<%= form_for @problem, html: {id:'problem-form'} do |f| %>
  <div id='problem-container'>
    <div class='card-header lens__header' role='tab' id='new-problem-head'>
      <span id='new-problem-head-input'>Define your problem:</span>
    </div>

    <div id='new-problem-textarea' role='tabpanel' aria-labelledby='new-problem-head'>
      <div class='form-group'>
        <%= f.text_area :name, class: 'form-control problem__name',
          rows:'7', placeholder:'Write your problem statement here' %>
      </div>
    </div>

    <div class='form-group problems__checkbox'>
      <label class="custom-control custom-checkbox">
        <%= f.check_box :public, class: 'custom-control-input' %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Share this problem on public feed</span>
      </label>
    </div>

    <%= submit_tag button_name,
      class: 'btn btn-block btn-lg btn--third-space problem__btn--submit',
      disabled: true %>
  </div>
<% end %>
