<div id='problemOverlay' class='problem__overlay'>
  <div class='tip__overlay-content'>
    <% if @problem.name %>
      <div class="review__title">
        Problem
      </div>
      <p><%=@problem.name %></p>
    <% end %>
    <% Problem::LENSES.each do |lens| %>
      <% if @problem[lens]%>
        <div class="review__title">
          <%= lens.titleize %>
        </div>
        <p><%=@problem[lens]%></p>
      <% end %>
    <% end %>
    <button type='button' onclick="closeTip('problemOverlay')" class='close tip__close-button'>
      <span class='white' aria-hidden='true'>&times;</span>
    </button>
  </div>
</div>

