<div class="card-header" role="tab" id="solution-head">
  <a class="collapsed" data-toggle="collapse" href="#solution-textarea" aria-expanded="false" aria-controls="solution-textarea">
    <span class="pull-right"><%= fa_icon 'chevron-down', id: 'solution-icon' %></span>
    <span id="solution-head-input">What is a solution through this lens?</span>
  </a>
</div>
<div id="solution-textarea" class="input-textarea collapse" role="tabpanel" aria-labelledby="solution-head">
  <form>
    <div class="form-group">
      <textarea id="solution-input" class="form-control" placeholder="Write solution here" rows="20"><%= @problem.get_lense_value(@page) %></textarea>
    </div>
  </form>
</div>

<script type="text/javascript">
  var id = <%= @problem.id %>;
  var lens = '<%= @page %>';
</script>
