<div class="card-header" role="tab" id="solution-head" style="margin-top: 2px;">
  <a class="collapsed" data-toggle="collapse" href="#solution-textarea" aria-expanded="false" aria-controls="solution-textarea">
    <span class="pull-right"><%= fa_icon('chevron-down') %></span>
    <span id="solution-head-input" style="text-decoration: none;">What is a solution through this lens?</span>
  </a>
</div>
<div id="solution-textarea" class="input-textarea collapse" role="tabpanel" aria-labelledby="solution-head">
  <form>
    <div class="form-group">
      <textarea style="border-radius: 0px;" id="solution-input" class="form-control" placeholder="Write solution here" rows="20"></textarea>
    </div>
  </form>
</div>

<div class="card-header" role="tab" id="result-head">
  <a class="collapsed" data-toggle="collapse" href="#result-textarea" aria-expanded="false" aria-controls="result-textarea">
    <span class="pull-right"><%= fa_icon('chevron-down') %></span>
    <span id="result-head-input" style="text-decoration: none;">What is your expected result?</span>
  </a>
</div>
<div id="result-textarea" class="input-textarea collapse" role="tabpanel" aria-labelledby="result-head">
  <form>
    <div class="form-group">
      <textarea style="border-radius: 0px;" id="result-input" class="form-control" placeholder="Write expected result here" rows="20"></textarea>
    </div>
  </form>
</div>

<script type="text/javascript">
var id = '<%= @problem.id %>';
var lens = '<%= @page %>';
</script>
