<%= render 'layouts/shared/navbar_top', title: 'Edit Problem' %>

  <div class='lens__banner'>
    <div class='lens__banner-text'>
      <%= @intro_text %>
    </div>
    <div class="btn btn-sm problem__review-problem"
         onclick="openTip('problemOverlay')">Review Progress</div>
    <div class='tip__icon' onclick="openTip('tipOverlay')" ></div>
  </div>
  <%= render 'problems/problem_form', button_name: "Update" %>
</div>
<%= render 'problems/tip', tips: @tips %>
