<nav class="navbar navbar-light top-navbar">
  <span class="navbar-brand">Review</span>
</nav>

<div class="card-block">
  Congrats, you have completed the workflow.
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <div class="row">
    <div class="col-xs"><%= link_to "Go Back", view_problems_path(@problem.id, 'thinking'), class: 'btn btn-link' %></div>
    <div class="col-xs"><%= link_to "View solution feed", problems_path, class: 'btn btn-link pull-right' %></div>
  </div>
</nav>
