<h4>Review</h4>
<p>Great work! Now its time to consider the problem through all the lense. This will help you communicate your solution better</p>
<%= link_to "Next", problem_path(page: 'review_photo'), class: 'btn btn-primary btn-block' %>
<%= link_to "Go Back", problem_path(page: 'thinking'), class: 'btn btn-default btn-block' %>
