<p class="h4 text-xs-center">Thinking</p>
<%= image_tag("thirdspace.jpg", class: 'w-100') %>
<%= render "problems/solution_form" %>
<%= link_to "Next", problem_path(page: 'review'), class: 'btn btn-primary btn-block' %>
<%= render "problems/active_bar" %>
