<div class="swiper-container welcome__swiper">
  <div class="swiper-wrapper">
    <% 1.upto(5) do |n| %>
      <div class="swiper-slide">
        <%= image_tag("onboarding_#{n}.png", class: 'w-100') %>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination welcome__swiper-pagination"></div>
</div>
<%= link_to 'Continue', new_problem_path, class: 'btn btn-block btn--third-space btn--fixed-bottom' %>
