<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="padding-bottom: 10%">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("welcome1.jpg", class: 'w-100') %>
      <div class="carousel-caption" style="padding-bottom: 20%">
        <p>Welcome to TST intro wizard...#1</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome1.jpg", class: 'w-100') %>
      <div class="carousel-caption" style="padding-bottom: 20%">
        <p>Welcome to TST intro wizard...#2</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome1.jpg", class: 'w-100') %>
      <div class="carousel-caption" style="padding-bottom: 20%">
        <p>Welcome to TST intro wizard...#3</p>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-faded" style="background-color: #fe4153; color: white;">
  <%= link_to 'Skip', problem_path(page: 'new'), class: 'btn btn-link btn-block', style: 'color: white;' %>
</nav>
