.auth__container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  .error {
    color: $error;
    .fa, label {
      color: $white;
    }
    input {
      border-bottom: 1px solid $error
    }
  }
}

.auth__background {
  height: 100%;
  width: 100%;
  background: image-url("moutain.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

.auth__form {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: $white;
  padding: 20px;
}

.auth__error {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 10;
}

.auth__input,
.auth__input:focus {
  padding-left: 40px;
  border: 0;
  border-bottom: 1px solid;
  border-bottom-color: $white;
  background: transparent;
  color: $white;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $white;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $white;
  }
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill,  {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}

.auth__icon {
  position: absolute;
  width: 30px;
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
}

.auth__help-text {
  font-size: 12px;
  padding-left: 40px;
  color: $white;
  font-style: italic;
  margin-top: 4px;
}

.auth__hr {
  border-color: $white;
}

.auth__alert-msg {
  width: 100%;
  color: $error;
  text-align: center;
  padding: 10px;
}
