html, body {
  height:100%;
}

.third-space__logo {
  background: image-url("3s-logo.svg") no-repeat center;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  &--white {
    background: image-url("3s-logo-white.svg") no-repeat center;
  }
}

.btn--third-space {
  background-color: $logo-color;
  color: $white;
  border-radius: 0;
  z-index: 11;
  font-size: 16px;
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.btn--radius-4 {
  border-radius: 4px;
}

.menu__col {
  min-width: 75px;
}

.ace-it__navbar--button {
  background: $light-grey;
}

.ace-it__button-col {
  width: 20%;
  display: inline-block;
  padding: 0 5px;
}

.ace-it__button {
  width: 90%;
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 2px solid;
  font-weight: bold;
  background: transparent;
  color: $logo-color;
  border-color: $logo-color;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $logo-color;
  }


  &--active {
    color: $white;
    background: $logo-color;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}

.btn--fixed-bottom {
  position: fixed;
  bottom: 0;
}

.pagination__button {
  margin-bottom: 10px;

  .page-item, .disabled {
    .page-link {
      z-index: 0;
      color: $white;
      background-color: $logo-color;
      border: 1px solid $logo-color;
    }
  }

  .active {
    .page-link {
      z-index: 0;
      color: $logo-color;
      background-color: $white;
      border: 1px solid $white;
    }
  }
}

.toggle-link {
  color: $default-font-color;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $default-font-color;
  }
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.top-nav__title {
  padding: .5rem 0;
  font-weight: bold;
}

.top-nav__button {
  border: 1px solid $white;
  border-radius: 4px;
  color: $white;
  position: absolute;
  right: 10px;
  top: 6px;
}

.w-60 {
  width: 60%;
}

.link--white-action {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .4;
}
