html, body {
  height:100%;
}

.third-space__logo {
  background: image-url("3s-logo.svg") no-repeat center;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  &--white {
    background: image-url("3s-logo-white.svg") no-repeat center;
  }
}

.btn--third-space {
  background-color: $logo-color;
  color: $white;
  border-radius: 0;
  z-index: 11;
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.menu__col {
  min-width: 75px;
}

.aceit__navbar--button {
  background: $light-grey;
}

.aceit__button-col {
  width: 20%;
  display: inline-block;
  padding: 0 5px;
}

.btn--fixed-bottom {
  position: fixed;
  bottom: 0;
}

.pagination__button {
  margin-bottom: 10px;

  .page-item, .disabled {
    .page-link {
      z-index: 0;
      color: $white;
      background-color: $logo-color;
      border: 1px solid $logo-color;
    }
  }

  .active {
    .page-link {
      z-index: 0;
      color: $logo-color;
      background-color: $white;
      border: 1px solid $white;
    }
  }
}

.toggle-link {
  color: $default-font-color;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $default-font-color;
  }
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.top-nav__title {
  padding: .5rem 0;
  font-weight: bold;
}

.w-60 {
  width: 60%;
}

@-webkit-keyframes autofill {
  to {
    color: $white;
    background: transparent;
  }
}
