.lens__header {
  position: relative;
}

.lens__submit-btn {
  padding: 0;
  background: $logo-color;
  color: $white;
  margin-bottom: 52px;
  width: 100%;
}

.lens__textarea {
  padding: 10px 20px;
  width: 100%;
  height: 20vh;
}
