.lense {
  background: $light-grey;
}

.lense__header {
  position: relative;
  background: $light-grey;
}

.lense__submit-btn {
  padding: 0;
  background: $logo-color;
  color: $white;
  margin-bottom: 54px;
  width: 100%;
}

.lense__textarea {
  padding: 10px 20px;
  width: 100%;
  height: 20vh;
}
