html {
  background-image: image-url('subtle_pattern.png')
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.navbar-text {
  white-space:nowrap;
}

.pagination{
  display:table;
  margin:0 auto;
  padding-bottom: 10px;
}

.btn-link:focus, .btn-link:hover, .btn-link:active, .btn-link:visited {
  text-decoration: none;
  color: #0275d8;
}

a.white:active, a.white:link, a.white:visited, a.white:hover {
  color: white;
  font-weight: normal;
}

.image-aceit {
  position: relative;
}

.aceit-overlay {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  width: 3em;
}

.image-box {
  padding: 1em;
  width: 100%;
}

.image-box-inner {
  display: table;
  margin: 0 auto;
}

.image-icon {
  font-size: 15rem;
  color: #fe4153;
}

.form-control {
  border-radius: 0px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-indicators {
  padding-bottom: 10%;
}

.carousel-caption {
  padding-bottom: 20%;
}

.top-navbar {
  background-color: #fe4153;
  color: white;
}

.navbar-light .navbar-brand, .white, .navbar-light .navbar-nav .nav-link {
  color: white;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.problems-grid {
  margin: 10px 20px 10px 10px;
}

.btn-square {
  border-radius: 0px;
}

.problem-filters {
  margin-top: 5px;
}

.aceit-button {
  padding-left: 5px;
  padding-right: 5px;
}
