.problems {
  &.new, &.edit, &.index {
    background: $light-grey;
  }
}

.problem__discuss-group {
  margin: $margin*3 0;
  box-shadow: 5px 5px 10px 0px $shadow;
}

.problems__checkbox {
  padding: 0 15px;

  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: $logo-color;
  }

  .custom-control-input:focus~.custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $logo-color;
  }
}

.problem__button {
  background: #EF4758;
  border: 1px solid #EF4758;
}

.comment__group {
  padding: $padding*1.5;
  padding-left: 0;
}

.comment__message {
  margin-bottom: 4px;
}

.comment__form {
  position: relative;
  bottom: 0;
  width: 100%;
}

.comment__input {
  padding: 10px 10px 20px;

  &:focus {
    border-color: $logo-color;
  }
}

.comment__button--submit {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: $logo-color;
  border: 1px solid $logo-color ;
  border-radius: 4px;
  color: $white;

  &:disabled {
    opacity: .4;
  }
}
