.problems {
  &.new, &.edit, &.index, &.show {
    // background: $light-grey;
  }
}

.problem__question-header {
  margin-right: 5px;
}

.problem__discuss-group {
  margin: 15px 0;
}

.problems__checkbox {
  padding: 0 15px;

  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: $logo-color;
  }

  .custom-control-input:focus~.custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $logo-color;
  }
}

.problem__button {
  background: $logo-color;
  color: $white;
  border: 1px solid $logo-color;
  padding-left: 12px;
  padding-right: 12px;
}

.problem__overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: $dark-shadow2;
  overflow-y: scroll;
  transition: 0.5s;
}

.problem__review-problem {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: $white;
  background: transparent;
  border: 1px solid $white;
  border-radius: 4px;
  font-size: 14px;

}

.problem__additional-details {
  position: relative;
}

.problem__owner-name {
  font-weight: 500;
  border-radius: 2rem;
  display: inline-block;
  width: 100%;
}

.problem__created_time {
  margin-right: 10px;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  color: $grey;
}

.problem__like-number {
  float: right;
  font-weight: 300;
  font-size: 15px;
}

.problem__owner-avatar {
  border-radius: 2rem;
  display: inline-block;
  margin-right: 5px;
}

.problem__btn--edit,
.problem__btn--destroy {
  width: 15%;
}

.problem__btn--share,
.problem__btn--like,
.problem__btn--liked {
  width: 30%;
}

.problem__btn--liked {
  color: $logo-color !important;
  border-color: $logo-color;
  background: $white;
}

.comment__group {
  padding-top: 15px;
}

.comment__title {
  margin-bottom: 20px;
}

.comment__image {
  border-radius: 2rem;
  position: absolute;
  left: 0;
  top: -5px;
}

.comment__user-name {
  font-weight: 500;
  display: block;
  padding-right: 55px;
}

.comment__comment-time {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  color: $grey;
  margin-top: 5px;
  float: right;
}

.comment__message {
  margin-bottom: 15px;
  min-height: 35px;
  padding-left: 40px;
  position: relative;
}

.comment__form {
  position: relative;
  bottom: 0;
  width: 100%;
}

.comment__input {
  padding: 10px 10px 20px;

  &:focus {
    border-color: $logo-color;
  }
}

.comment__button--submit {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: $logo-color;
  border: 1px solid $logo-color ;
  border-radius: 4px;
  color: $white;

  &:disabled {
    opacity: .4;
  }
}

.comment__delete-icon {
  padding: 2px 4px;
  position: absolute;
  right: -5px;
  top: 0px;
}

.comment__edit-icon {
  padding: 2px 3px;
  position: absolute;
  right: 22px;
  top: 0px;
}

.shared__title {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 18px;
}

.shared__button {
  width: 140px;
  margin-top: 8px;
}

