.problem__wrapper {
  &--discuss {
    padding-bottom: 20px;
  }

  &--feed {
    padding-bottom: 30px;
  }
}

.problem__contents {
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
    color: #2b2e34;
  }
}

.problem__adaptability,
.problem__cultural_competency,
.problem__empathy,
.problem__intellectual_curiosity,
.problem__thinking {
  background-size: 100%;
  outline: 4px solid;
}

.problem__adaptability {
  outline-color: $adaptability;
}

.problem__cultural_competency {
  outline-color: $cultural;
}

.problem__empathy {
  outline-color: $empathy;
}

.problem__intellectual_curiosity {
  outline-color: $intellectual;
}

.problem__thinking {
  outline-color: $thinking;
}

.problem__box {
  margin: 0 0 15px 0;
}

.problem__title-wrapper {
  position: relative;
  width: 100%;
  min-height: 130px;
}

.problem__title {
  font-size: 17px;
  line-height: 1.4;
  color: $light-grey;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .1rem;
  position: absolute;
  bottom: 0;

  span {
    display: inline;
    padding: 2px 4px;
    padding-left: 0;
  }

  &--adaptability {
    background-color: $adaptability;

  }
  &--cultural_competency {
    background-color: $cultural;
  }
  &--empathy {
    background-color: $empathy;
  }
  &--intellectual_curiosity {
    background-color: $intellectual;
  }
  &--thinking {
    background-color: $thinking;
  }
}


.problem__degree-thinking {
  padding: 5px;
  width: 100%;
  min-height: 65px;
  font-size: 16px;
  background: $dark-shadow;
  color: $light-grey;
}

.discuss__background {
  background: image-url("banner.png") no-repeat center;
  background-size: 100%;
  width: 100%;
  min-height: 150px;
}

.discuss__title {
  padding: 15px;
  color: $light-grey;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 3px 3px 2px $dark-shadow;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.problem__select-feed-btn {
  color: $logo-color;
  background: $white;
  border: 2px solid $logo-color;
  box-sizing: border-box;
  border-radius: 1000rem;

  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $logo-color;
  }
}

.problem__select-feed-btn--active {
  color: $white;
  background: $logo-color;
  border: 2px solid $logo-color;
  box-sizing: border-box;
  border-radius: 1000rem;

  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.problem__filters {
  margin-top: 15px;
}
