.problems {
  &.new, &.edit, &.index {
    background: $light-grey;
  }
}

.problems__checkbox {
  padding: 0 15px;

  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: $logo-color;
  }

  .custom-control-input:focus~.custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $logo-color;
  }
}

