.problem__wrapper {
    // background: $white;

}

.problem__contents {
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: $padding*5 0;
    color: darken($light-grey, 20%);
  }
}

.problem__adaptability,
.problem__cultural_competence,
.problem__empathy,
.problem__intellectual_curiosity,
.problem__thinking {
  background-size: 100%;
  outline: 4px solid;
}

.problem__adaptability {
  background: image-url("adaptability.png") no-repeat center;
  outline-color: $adaptability;
}

.problem__cultural_competence {
  background: image-url("cultural_competence.png") no-repeat center;
  outline-color: $cultural;
}

.problem__empathy {
  background: image-url("empathy.png") no-repeat center;
  outline-color: $empathy;
}

.problem__intellectual_curiosity {
  background: image-url("intellectual_curiosity.png") no-repeat center;
  outline-color: $intellectual;
}

.problem__thinking {
  background: image-url("thinking.png") no-repeat center;
  outline-color: $thinking;
}

.problem__box {
  margin: 0 0 $margin*3 0;
  box-shadow: 5px 5px 10px 0px $shadow;
}

.problem__title-wrapper {
  position: relative;
  width: 100%;
  min-height: 120px;
}

.problem__title {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  color: $light-grey;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .1rem;

  &--adaptability {
    background-color: $adaptability;
  }
  &--cultural_competence {
    background-color: $cultural;
  }
  &--empathy {
    background-color: $empathy;
  }
  &--intellectual_curiosity {
    background-color: $intellectual;
  }
  &--thinking {
    background-color: $thinking;
  }
}


.problem__degree-thinking {
  padding: $padding*1.5;
  width: 100%;
  min-height: 65px;
  font-size: 12px;
  background: $dark-shadow;
  color: $light-grey;
}

.discuss__background {
  background: image-url("banner.png") no-repeat center;
  background-size: 100%;
  width: 100%;
  min-height: 150px;
}

.discuss__title {
  padding: $padding*1.5;
  color: $light-grey;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 3px 3px 2px $dark-shadow;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.problem__discuss-group {
  margin: $margin*3 0;
  box-shadow: 5px 5px 10px 0px $shadow;
}

.comment__group {
  padding: $padding*1.5;
}

.comment__title {
  letter-spacing: 0.5em;
  font-weight: 700;
  color: darken($medium-grey, 20%);
}

.comment__message {
  margin-bottom: 4px;
}

.comment__form {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.comment__input {
  display: inline-block;
  padding: 10px 60px 10px 15px;

  &:focus {
    border-color: $logo-color;
  }
}

.comment__send-button {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 8px;
  background: transparent;
  border: 0;
  color: $logo-color;

  &:disabled {
    color: $light-grey;
  }
}

.problems.new {
  background: $light-grey;
}

.problems.index {
  background: image-url('galaxy_bg.png') repeat-y;
}
