.users.show,
.users.edit_password,
.users.update_password,
.registrations.edit,
.registrations.update {
  .profile {
    &__card {
      height: 100%;
      background-color: initial;
      border: 0;
    }
    &__img {
      width: 160px;
      height: 160px;
      border-radius:50%;
      overflow:hidden;
    }
    &__file {
      display: none;
    }
    &__avatar-label {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }
  }

  .error {
    color: $error;
    .fa, label {
      color: $white;
    }
    input {
      border-bottom: 1px solid $error
    }
  }
}
