$font-size: 16px;

$black: #000;
$shadow: rgba(0, 0, 0, .4);
$dark-shadow: rgba(0, 0, 0, .7);
$white: #FFF;
$grey: #585c65;
$medium-grey: #9b9b9b;
$medium-grey2: #ccc;
$light-grey: #eeeeee;
$error: #d9534f;

$padding: 10px;
$margin: 10px;

//Third space core color
$adaptability: #0118C6;
$cultural: #AF2094;
$empathy: #F21970;
$intellectual: #FF9E1F;
$thinking: #FF542C;

$logo-color: #EF4758;
