$font-size: 16px;

$black: #000;
$shadow: rgba(0, 0, 0, .4);
$dark-shadow: rgba(0, 0, 0, .7);
$white: #FFF;
$grey: #585c65;
$medium-grey: #9b9b9b;
$light-grey: #eeeeee;

$padding: 10px;
$margin: 10px;

// $grey: #DCDCDA;
// $light-grey: #E7E7E5;
// $dark: #3F3F3F;
// $slate-grey: #AFAFBB
